{% extends 'front.html.twig' %}

{% block title %}Pannier!
{% endblock %}

{% block body %}
	<div class="alert alert-dismissible alert-info">
		<h1>Votre panier</h1>
	</div>
	{% if paniers |length >0 %}

		<table class="table">
			<tr class="table-info">
				<th>Produit</th>
				<th>Prix</th>
				<th>Quantité</th>
				<th>Total</th>
				<th></th>
			</tr>
			<tbody>
				{% for panier in paniers %}
					<tr class="table-success">
						<td>{{panier.produit.designation}}</td>
						<td>{{panier.produit.prix}}</td>
						<td>{{panier.quantite}}</td>
						<td>{{panier.produit.prix * panier.quantite}}</td>

						<td>
							
							<a href="{{path("prod_add", {id: panier.produit.id})}}" class="btn btn-success">
								<i class="fas fa-plus"></i>
							</a>
							<a href="{{path("prod_remove", {id: panier.produit.id})}}" class="btn btn-warning">
								<i class="fas fa-window-minimize"></i>
							</a>
							<a href="{{path("delete_prod", {id: panier.produit.id})}}" class="btn btn-danger">
								<i class="fas fa-trash"></i>
							</a>
						</td>

					</tr>
				{% endfor %}
			</tbody>
			<tfoot>
				<tr>
					<td colspan="3" class="text-right">Total:
					</td>
					<td>{{total }}</td>
				</tr>
			</tfoot>
		</table>

	{% else %}
		<div class="alert alert-dismissible alert-success">
			<strong>Oppss, c'est vide !</strong>
		</div>

	{% endif %}

{% endblock %}
